p {

    font-size: 16px;
}

.homecontainerdiv {

    padding: 130px 0px 30px 0px ;
    width: 100%;
    border: 2px solid black;
    height: 30px;
}

@media screen and (max-width: 767px) {
 
    p {

        font-size: 14px;
    }
}

@media screen and (max-width : 575px) {
    
    p {

        font-size: 12px;
    }
}
