.mainhome {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imagecstmdivhome {

    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageonecstm {

    object-fit: cover;
    height: 100%;
    object-position: top;
    border-radius: 5px;
}

.textdivcstmhome {

    position: absolute;
    width: 750px;
    right: 70px;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textdivcstmhome h1 {

    color: #ffffff;
    font-size: 50px;
}

.textdivcstmhome p {

    color: white;
    font-size: 30px;
    font-weight: 700;
}

.homeintrodiv {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeintrochildfirst {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.parentflexcstm {

    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.childflexcstm {

    width: 50%;
}

.childflexcstm:last-child {

    display: flex;
    align-items: stretch;
}

.childflexcstm:last-child img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.imagedivchildcstm {

    object-fit: cover;
    height: 100%;
    width: 100%;
}

.childflexcstm p {

    text-align: justify;
    font-size: 16px;
}

.childflexcstm:first-child {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.homequotediv {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homequotediv blockquote {

    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 33%;
}

.homequoteblockquoteflex {

    display: flex;
    gap: 20px;
}

.homefourdivcstm {

    background-color: #f0f8ff;
    width: 934px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    z-index: 9999;
}

.homefourdivchildcstm {

    width: 450px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.homefourdivchildcstm p {

    color: white;
    position: absolute;
    font-size: 16px;
    font-weight: 600;
}

.homefourdivchildcstm img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homefourdivchildcstm::after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    transition: 0.7s;
    z-index: 1;
}

.homefourdivchildcstm:hover::after {

    background-color: rgb(0, 0, 0, 0.4);
}

.joinusondivcstm {

    width: 100%;
    position: relative;
    height: 500px;
    border-radius: 5px;
}

.joinusondivcstm img {

    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.joinusondivtext {

    position: absolute;
    color: white;
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 70px;
}

.joinusondivtext h1 {

    font-size: 50px;
}

.joinusondivtext p {

    font-size: 30px;
    color: white;
    font-weight: 700;
}

.joinusondivbutton {

    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    
}

.designcstmbackgroundone {

    position: absolute;
    width: 180px;
    height: 180px;
    background-color: black;
    top: 180px;
    left: -104px;
    transform: rotate(45deg);
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    opacity: .6;
}

.designcstmbackground2 {

    position: absolute;
    width: 180px;
    height: 180px;
    background-color: black;
    top: 180px;
    right: -104px;
    transform: rotate(45deg);
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    opacity: .6;
}

.designcstmbackground3 {

    position: absolute;
    width: 180px;
    height: 180px;
    background-color: black;
    top: 440px;
    left: -104px;
    transform: rotate(45deg);
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    opacity: .6;
}

.designcstmbackground4 {

    position: absolute;
    width: 180px;
    height: 180px;
    background-color: black;
    top: 440px;
    right: -104px;
    transform: rotate(45deg);
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    opacity: .6;
}


@media screen and (min-width: 1499px) {
    
    .homefourdivcstm{

        width: 1020px;
    }

    .homefourdivchildcstm {

        width: 495px;
        height: 340px;
    }
}

@media screen and (max-width: 1399px) {
    
    .imagecstmdivhome {

        height: 400px;
    }

    .textdivcstmhome {

        top: 70px;
    }

    .joinusondivcstm{

        height: 400px;
    }

    .joinusondivtext {

        top: 110px;
    }

    .designcstmbackgroundone {

        width: 140px;
        height: 140px;
        left: -94px;
    }
    
    .designcstmbackground2 {

        width: 140px;
        height: 140px;
        right: -94px;
    }

    .designcstmbackground3 {

        width: 140px;
        height: 140px;
        left: -94px;
        top: 368px;
    
    }

    .designcstmbackground4 {

        width: 140px;
        height: 140px;
        right: -94px;
        top: 368px;
    }
}

@media screen and (max-width: 1199px) {

    .childflexcstm p{

        font-size: 13px;
    }
}

@media screen and (max-width: 1099px) {
    
    .imagecstmdivhome {

        height: 380px;
    }

    .joinusondivcstm{

        height: 380px;
    }

    .homefourdivcstm {

        width: 832px;
    }

    .homefourdivchildcstm {

        width: 400px;
    }

    .designcstmbackground3 {

        top: 350px;
    }

    .designcstmbackground4 {

        top: 350px;
    }
}

@media screen and (max-width: 991px) {
    
    .textdivcstmhome h1{

        font-size: 36px;
    }

    .joinusondivtext h1 {

        font-size: 36px;
    }

    .textdivcstmhome p {

        font-size: 22px;
    }

    .joinusondivtext p {

        font-size: 22px;
    }

    .textdivcstmhome {

        width: 540px;
        right: 20px;
        top: 50px;
    }
    
    .imagecstmdivhome {

        height: 320px;
    }

    .childflexcstm p{

        font-size: 12px;
    }

    .homequoteblockquoteflex {

        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }

    .homequotediv blockquote {
        
        width: 49%;
    }

    .homequotediv blockquote:last-child {

        width: 100%;
        margin-top: 6px;
    }
    
    .homefourdivcstm {

        width: 690px;
    }

    .homefourdivchildcstm {

        width: 330px;
        height: 250px;
    }

    .joinusondivcstm{

        height: 320px;
    }

    .joinusondivtext{

        top: 90px;
    }

    .designcstmbackgroundone {

        top: 130px;
    }

    .designcstmbackground2 {

        top: 130px;
    }

    .designcstmbackground3 {

        top: 288px;
    }

    .designcstmbackground4 {

        top: 288px;
    }
}


@media screen and (max-width: 767px) {

    .textdivcstmhome h1{

        font-size: 30px;
    }

    .textdivcstmhome p{

        font-size: 18px;
    }

    .joinusondivtext h1 {

        font-size: 30px;
    }

    .joinusondivtext p {

        font-size: 18px;
    }

    .joinusondivtext  {

        gap: 15px;
    }

    .textdivcstmhome {

        width: 450px;
        gap: 15px;
    }
    
    .imagecstmdivhome {

        height: 270px;
    }

    .parentflexcstm {

        flex-wrap: wrap;
        gap: 20px;
    }

    .childflexcstm {

        width: 100%;
    }

    .childflexcstm p {

        font-size: 14px;
    }

    .mainhome {

        gap: 20px;
    }

    .childflexcstm:last-child {

        height: 300px;
    }

    .childflexcstm:first-child {
    
        gap: 10px;
    }

    .homequotediv blockquote {
        
        width: 100%;
    }

    .homequotediv blockquote:last-child {
        
        margin-top: 0px;
    }

    .homequoteblockquoteflex {

        gap: 20px;
    }

    .homequotediv {

        gap: 10px;
    }

    .homefourdivcstm {

        width: 500px;
        gap: 20px;
    }

    .homefourdivchildcstm {

        width: 240px;
        height: 200px;
    }
    .homefourdivchildcstm p{

        font-size: 14px;
    }

    .joinusondivcstm{

        height: 270px;
    }

    .joinusondivtext{

        top: 65px;
        right: 50px;
    }

    .designcstmbackgroundone {

        width: 80px;
        height: 80px;
        left: -37px;
        top: 130px;
    }

    .designcstmbackground2 {

        width: 80px;
        height: 80px;
        right: -37px;
        top: 130px;
    }

    .designcstmbackground3 {

        width: 80px;
        height: 80px;
        left: -37px;
        top: 250px
    }

    .designcstmbackground4 {

        width: 80px;
        height: 80px;
        right: -37px;
        top: 250px
        
    }

}

@media screen and (max-width : 575px) {
    

    .textdivcstmhome h1 {

        font-size: 20px;
    }
    
    .textdivcstmhome p{

        font-size: 13px;
    }

    .joinusondivtext h1 {

        font-size: 20px;
    }

    .joinusondivtext p {

        font-size: 13px;
    }

    .imagecstmdivhome {

        height: 200px;
    }

    .textdivcstmhome {

        width: 100%;
        top: 36px;
        right: 0px;
        gap: 15px;
        padding: 10px;       
    }

    .connectwithuscstm {

        max-width: 100% !important;
    }

    .childflexcstm p {

        font-size: 12px;
    }

    .mainhome {

        gap: 15px;
    }

    .parentflexcstm {

        gap: 15px;
    }
    .homequoteblockquoteflex {

        gap: 15px;
    }

    .homequoteblockquoteflex blockquote{

        padding: 10px;
    }

    .homefourdivcstm {

        width: 320px;
        gap: 15px;
    }

    .homefourdivchildcstm {

        width: 320px;
        height: 210px;
    }

    .homefourdivchildcstm p{

        font-size: 12px;
    }

    .joinusondivcstm{

        height: 200px;
    }

    .joinusondivtext{

        top: 50px;
        right: 40px;
    }

    .joinusondivbutton {

        gap: 15px;
    }

    .designcstmbackgroundone {

        width: 65px;
        height: 65px;
        left: -31px;
        top: 95px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    }

    .designcstmbackground2 {

        width: 65px;
        height: 65px;
        right: -31px;
        top: 95px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    }

    .designcstmbackground3 {

        width: 65px;
        height: 65px;
        left: -31px;
        top: 200px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    }

    .designcstmbackground4 {

        width: 65px;
        height: 65px;
        right: -31px;
        top: 200px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    }

}


@media screen and (max-width: 426px) {
    
    .textdivcstmhome h1 {

        font-size: 18px;
    }

    .textdivcstmhome p {

        font-size: 10px;
    }

    .joinusondivtext h1 {

        font-size: 18px;
    }

    .joinusondivtext p {

        font-size: 10px;
    }

    .textdivcstmhome {

        top: 28px;
    }
    
    .imagecstmdivhome {

        height: 175px;
    }

    .childflexcstm:last-child {

        height: 200px;
    }

    .childflexcstm p{

        font-size: 11px;
    }

    .homefourdivcstm {

        width: 290px;
        gap: 15px;
    }

    .homefourdivchildcstm {

        width: 290px;
        height: 200px;
    }

    .joinusondivcstm{

        height: 175px;
    }

    .joinusondivtext{

        top: 36px;
        right: 20px;
    }

    .designcstmbackgroundone {

        width: 50px;
        height: 50px;
        left: -23px;
        top: 105px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    }

    .designcstmbackground2 {

        width: 50px;
        height: 50px;
        right: -23px;
        top: 105px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    }

    .designcstmbackground3 {

        width: 50px;
        height: 50px;
        left: -23px;
        top: 190px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    }

    .designcstmbackground4 {

        width: 50px;
        height: 50px;
        right: -23px;
        top: 190px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24'%3E%3Cg fill='%233c79b0' fill-opacity='1'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");

    }
}