.mainhome {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.imagecstmdivhome {

    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.imageonecstm {

    object-fit: cover;
    height: 100%;
    object-position: top;
    border-radius: 5px;
}

.textdivcstmhome {

    position: absolute;
    width: 750px;
    padding: 20px 0px;
    right: 60px;
    top: 46px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textdivcstmhome h1 {

    color: #ffffff;
    font-size: 50px;
}

.textdivcstmhome p {

    color: white;
    font-size: 30px;
    font-weight: 700;
}

.homeintrodiv {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeintrochildfirst {

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.parentflexcstm {

    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.childflexcstm {

    width: 50%;
}

.childflexcstm:last-child {

    display: flex;
    align-items: stretch;
}

.childflexcstm:last-child img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.imagedivchildcstm {

    object-fit: cover;
    height: 100%;
    width: 100%;
}

.childflexcstm p {

    text-align: justify;
    font-size: 16px;
}

.childflexcstm:first-child {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.homequotediv {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homequotediv blockquote {

    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 33%;
}

.homequoteblockquoteflex {

    display: flex;
    gap: 20px;
}

.homefourdivcstm {

    width: 934px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.homefourdivchildcstm {

    width: 450px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.homefourdivchildcstm p {

    color: white;
    position: absolute;
    font-size: 16px;
}

.homefourdivchildcstm img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homefourdivchildcstm::after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    transition: background-color 0.7s ease ;
    z-index: 1;
}

.homefourdivchildcstm:hover::after {

    background-color: rgb(0, 0, 0, 0.4);
}

@media screen and (min-width: 1499px) {
    
    .homefourdivcstm{

        width: 1020px;
    }

    .homefourdivchildcstm {

        width: 495px;
        height: 340px;
    }
}

@media screen and (max-width: 1199px) {

    .childflexcstm p{

        font-size: 13px;
    }
}

@media screen and (max-width: 1099px) {
    
    .imagecstmdivhome {

        height: 380px;
    }

    .homefourdivcstm {

        width: 832px;
    }

    .homefourdivchildcstm {

        width: 400px;
    }
}

@media screen and (max-width: 991px) {
    
    .textdivcstmhome h1{

        font-size: 36px;
    }

    .textdivcstmhome p {

        font-size: 22px;
    }

    .textdivcstmhome {

        width: 540px;
        right: 20px;
        top: 30px;
    }
    
    .imagecstmdivhome {

        height: 320px;
    }

    .childflexcstm p{

        font-size: 12px;
    }

    .homequoteblockquoteflex {

        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }

    .homequotediv blockquote {
        
        width: 49%;
    }

    .homequotediv blockquote:last-child {

        width: 100%;
        margin-top: 6px;
    }
    
    .homefourdivcstm {

        width: 690px;
    }

    .homefourdivchildcstm {

        width: 330px;
        height: 250px;
    }
}

@media screen and (max-width: 767px) {

    .textdivcstmhome h1{

        font-size: 30px;
    }

    .textdivcstmhome p{

        font-size: 18px;
    }

    .textdivcstmhome {

        width: 450px;
        gap: 15px;
    }
    
    .imagecstmdivhome {

        height: 270px;
    }

    .parentflexcstm {

        flex-wrap: wrap;
        gap: 20px;
    }

    .childflexcstm {

        width: 100%;
    }

    .childflexcstm p {

        font-size: 14px;
    }

    .mainhome {

        gap: 20px;
    }

    .childflexcstm:last-child {

        height: 300px;
    }

    .childflexcstm:first-child {
    
        gap: 10px;
    }

    .homequotediv blockquote {
        
        width: 100%;
    }

    .homequotediv blockquote:last-child {
        
        margin-top: 0px;
    }

    .homequoteblockquoteflex {

        gap: 20px;
    }

    .homequotediv {

        gap: 10px;
    }

    .homefourdivcstm {

        width: 500px;
        gap: 20px;
    }

    .homefourdivchildcstm {

        width: 240px;
        height: 200px;
    }
    .homefourdivchildcstm p{

        font-size: 14px;
    }

}

@media screen and (max-width : 575px) {
    

    .textdivcstmhome h1 {

        font-size: 20px;
    }
    
    .textdivcstmhome p{

        font-size: 13px;
    }

    .imagecstmdivhome {

        height: 200px;
    }

    .textdivcstmhome {

        width: 100%;
        top: 36px;
        right: 0px;
        gap: 15px;
        padding: 10px;       
    }

    .connectwithuscstm {

        max-width: 100% !important;
    }

    .childflexcstm p {

        font-size: 12px;
    }

    .mainhome {

        gap: 15px;
    }

    .parentflexcstm {

        gap: 15px;
    }
    .homequoteblockquoteflex {

        gap: 15px;
    }

    .homequoteblockquoteflex blockquote{

        padding: 10px;
    }

    .homefourdivcstm {

        width: 320px;
        gap: 15px;
    }

    .homefourdivchildcstm {

        width: 320px;
        height: 210px;
    }

    .homefourdivchildcstm p{

        font-size: 12px;
    }
}


@media screen and (max-width: 426px) {
    
    .textdivcstmhome h1 {

        font-size: 18px;
    }

    .textdivcstmhome p {

        font-size: 10px;
    }

    .textdivcstmhome {

        top: 28px;
    }
    
    .imagecstmdivhome {

        height: 175px;
    }

    .childflexcstm:last-child {

        height: 200px;
    }

    .childflexcstm p{

        font-size: 11px;
    }

    .homefourdivcstm {

        width: 290px;
        gap: 15px;
    }

    .homefourdivchildcstm {

        width: 290px;
        height: 200px;
    }
}