*{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p{

  line-height: 1.5;
  color: #8b8b8b;
}

.text_cstm_big_heading {

  font-size: 34px;
}

.text_cstm_medium_heading{

  font-size: 26px;
}

.text_cstm_normal_para {

  font-size: 16px;
}

.w-100cstm {

 max-width: 100% !important;
}

.iconcstm {

  font-size: 20px;
}

.textalign_cstmjustify{

  text-align: justify;
}

.flexjustifycontent_spacebetween {

  justify-content: space-between;
}

.fachecksquareiconcstm {

  font-size: 16px;
}

.primarycolorcstm {

  color: #3c79b0;
}
.dflexcstm {

  display: flex;
}

.justifycontentendcstm {

  justify-content: end;
}

.textalign_cstmcenter {

  text-align: center;
}

@keyframes fadeinUp{

  0% {

    opacity: 0;
    transform: translateY(40px);
  }

  100% {

    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOutDown  {

  0% {

    opacity: 1;
    transform: translateY(0px);
  }

  100% {

    opacity: 0;
    transform: translateY(40px);
  }

}

@media screen and (max-width: 991px) {
  
  .text_cstm_big_heading {

    font-size: 28px;
  }

}

@media screen and (max-width: 767px) {
  
  .iconcstm {

    font-size: 18px;
  }

  .text_cstm_big_heading {

    font-size: 24px;
  }

  .text_cstm_normal_para {

    font-size: 14px;
  }

  .fachecksquareiconcstm {

    font-size: 14px;
  }

  .text_cstm_medium_heading{

  font-size: 17px;  
  }
}

@media screen and (max-width: 575px) {
  
  .iconcstm {

    font-size: 14px;
  }

  .text_cstm_big_heading {

    font-size: 20px;
  }

  .text_cstm_normal_para {

    font-size: 12px;
  }

  .fachecksquareiconcstm {

    font-size: 12px;
  }

  .text_cstm_medium_heading{

    font-size: 13px;  
  }
}