*{

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p{

  line-height: 1.5;
  color: #8b8b8b;
}

.text_cstm_big_heading {

  font-size: 34px;
}

.text_cstm_normal_para {

  font-size: 16px;
}

.w-100cstm {

 max-width: 100% !important;
}

.iconcstm {

  font-size: 20px;
}

@media screen and (max-width: 991px) {
  
  .text_cstm_big_heading {

    font-size: 28px;
  }

}

@media screen and (max-width: 767px) {
  
  .iconcstm {

    font-size: 18px;
  }

  .text_cstm_big_heading {

    font-size: 24px;
  }

  .text_cstm_normal_para {

    font-size: 14px;
  }
}

@media screen and (max-width: 575px) {
  
  .iconcstm {

    font-size: 14px;
  }

  .text_cstm_big_heading {

    font-size: 20px;
  }

  .text_cstm_normal_para {

    font-size: 12px;
  }
}