.containerheadercstm {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: fixed;
    z-index: 9999999;
    background-color: white;
}

#header {

    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 150px;
    background-color: white;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
}

.headerimg {

    width: 215px;
    height: 84px;
}

.headerimg img{

    object-fit: cover;
    height: 100%;
}

.headercontents {

    width: 1000px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.headercontentspara {

    color: #8b8b8b;
    font-size: 16px;
    text-decoration: none;
    transition: all .7s;
    position: relative;
}

.headercontentspara::after {

    position: absolute;
    background-color: #3c79b0;
    content: " ";
    height: 2px;
    left: 0;
    top: 24px;
    transition: all .7s;
    width: 0%;

}

.headercontentspara:hover::after {

    width: 100%;
}


.headercontentspara:hover {

    color: #3c79b0;
    /* font-size: 20px; */
}

.headercstmicondiv {

    display: none;
}

.outlaysidebar {

    display: none;
}

.sidebardiv {
    
    display: none;
}

.headercontentsparaactive {

    color: #3c79b0;   
}

.dropdownicon {

    margin-left: 5px;
    font-size: 14px;
}

.prayerdropdowndiv {

    position: relative;
    cursor: pointer;
    user-select: none;
}

.prayerdropdown {

    position: absolute;
    top: 20.8px;
    min-width: 212px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    z-index: 9999999;
    cursor: pointer;
    animation: fadeInDown 0.3s ease-in;
}

.prayerdropdownlink {

    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: all .7s;
}

.prayerdropdownlink {

    color: #8b8b8b;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    display: inline-block;   
    width: fit-content;      
    transition: all .7s;
}

.prayerdropdownlink::after {

    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -3px;
    background-color: #3c79b0;
    transition: width 0.7s ease;
}

.prayerdropdownlink:hover::after {

    width: 100%;
}

.prayerdropdownlink:hover {

    color: #3c79b0;
}

.headerdropdowncontentsparaactive {

    color: #3c79b0;
}

@media screen and (max-width: 1399px) {
    
    #header{

        max-width: 1100px;
        gap: 80px;
    }

    .headerimg{

        width: 205px;
        height: 80px;
    }
}

@media screen and (max-width: 1299px) {
    
    .headercontentspara, .prayerdropdownlink  {

        font-size: 15px;
    }

    .prayerdropdown {

        min-width: 201px
    }
}


@media screen and (max-width: 1199px) {
    
    #header{
        
        max-width: 999px;
        gap: 50px;
    }
}


@media screen and (max-width: 1099px) {
    
    .headercontentspara, .prayerdropdownlink {

        font-size: 14px;
    }

    .prayerdropdown {

        min-width: 191px;
    }

    #header {

        max-width: 899px;
        gap: 40px;
    }
    
}

@media screen and (max-width: 991px) {
    
    .headercontentspara, .prayerdropdownlink {

        font-size: 12px;
        justify-content: space-between;
    }

    #header {

        gap: 20px;
        height: 100px;
        padding: 0px 30px;
    }

    .headercontents{

        display: none;
    }

    .headercstmicondiv {

        display: block;
        color: #3c79b0;
        
    }

    #header {
        max-width: 100%;
        justify-content: space-between;
        padding: 0px 30px;
    }

    .headerimg {

        width: 205px;
        height: 80px;
    }

    .iconcstm-one {

        font-size: 28px;
        color: #8b8b8b;
        transition: all .7s;
    }

    .iconcstm-one-colorlightblue {
        
        font-size: 28px;
        color: #3c79b0;
        transition: all .7s;
    }

    .outlaysidebar {

        display: block;
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: .5; 
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
    }
    
    .sidebardiv {

        display: block;
        position: fixed;
        height: 100%;
        z-index: 9999999;
        top: 102px;
        left: 0px;
        background-color: white;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        animation: fadeinRight .5s ease-in-out;
    }

    .headercontentssidebarpara {

        text-decoration: none;
        color: #8b8b8b;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        transition: all .7s;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 20px;
    }
    

    .headercontentssidebarpara svg{

        width: 20px;
    }

    .headercontentssidebarpara:hover{

        color: white;
        background-color: #3c79b0;
    }

    .headercontentssidebarparaactive {

        color: white;
        background-color: #3c79b0;
    }
}


@media screen and (max-width: 767px) {
    
    .headercontents{

        display: none;
    }

    .headercstmicondiv {

        display: block;
        color: #3c79b0;
        
    }
    
    #header {

        height: 80px;
        justify-content: space-between;
        padding: 0px 30px;
    }

    .headerimg {

        width: 166px;
        height: 65px;
    }

    .iconcstm-one {

        font-size: 28px;
        color: #8b8b8b;
        transition: all .7s;
    }

    .iconcstm-one-colorlightblue {
        
        font-size: 28px;
        color: #3c79b0;
        transition: all .7s;
    }

    .outlaysidebar {

        display: block;
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: .5; 
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
    }
    
    .sidebardiv {

        display: block;
        position: fixed;
        height: 100%;
        z-index: 9999999;
        top: 82px;
        left: 0px;
        background-color: white;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .headercontentssidebarpara {

        text-decoration: none;
        color: #8b8b8b;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        transition: all .7s;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 20px;
    }
    

    .headercontentssidebarpara svg{

        width: 20px;
    }

    .headercontentssidebarpara:hover{

        color: white;
        background-color: #3c79b0;
    }

    .headercontentssidebarparaactive {

        color: white;
        background-color: #3c79b0;
    }
    
    .dropdownicon {

        font-size: 12px;
    }
}

@media screen and (max-width: 575px) {
    
    #header {

        padding: 0px 15px;
        height: 70px;
    }

    .headerimg {

        height: 55px;
        width: 140px;
    }

    .iconcstm-one {

        font-size: 22px;
    }

    .iconcstm-one-colorlightblue {
        
        font-size: 22px;
    }

    .sidebardiv {

        top: 72px;
        padding: 15px;
    }

    .headercontentssidebarpara {

        font-size: 14px;
        padding: 15px;
        
    }

    .dropdownicon {

        font-size: 10px;
    }
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(10px); /* start slightly down */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}