#footer {

    background-color: white;
    width: 100%;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.footerdiv1 {

   width: 480px;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.footerdiv1img {

    width: 180px;
    height: 70px;
}

.footerdiv1img img {

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footerdiv2 {

    border: 2px solid black;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px 0px;
}

.footerdiv1text {

    text-align: justify;
}

.footerdiv2cstmpages {

    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footerdiv2cstmpages h2{

    font-size: 20px;
}

.footerdiv2cstmcontact {
    border: 2px solid black;
    width: 200px;

}

.footerdiv2cstmsocial {

    border: 2px solid black;
    width: 200px;
}

.footerdiv2atag {

    text-decoration: none;
}

.footerdiv2atag p{

    transition: all .7s;
}

.footerdiv2atag p:hover{

    color: #3c79b0;
    opacity: 1;
}

@media screen and (max-width: 991px) {
    
    #footer {

        padding: 20px 30px;
    }
}


@media screen and (max-width: 575px) {
    
    #footer {

        padding: 15px ;
    }   
}