.datepickercstm {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-checkbox-group {

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: 40px;
}

.contact-checkbox {

    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select, .react-datepicker__header--middle, .react-datepicker__header--bottom) {

    background-color: whitesmoke;
    border-bottom: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.react-datepicker {

    background-color: #F0F8FF !important;
}

.react-datepicker__navigation-icon::before {

    border-color: #8b8b8b !important;
}

.react-datepicker__day--selected {

    background-color: #3c79b0 !important;
}

.datepickerwraper {

    width: 100%;
    position: relative;
}

.fa-calendar {

    position: absolute;
    right: 10px;
    top: 11px;
    color: #8b8b8b;
    pointer-events: none;
}

.prayerreqform {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.optionclass {

    background-color: #F0F8FF !important;
}


@media screen and (max-width: 767px) {
    
    .contact-checkbox-group {

        height: 36px;
        gap: 15px;

    }

    .contact-checkbox {

        font-size: 12px;
    }

    .datepickercstm {

        gap: 15px;
    }

    .prayerreqform {

        gap: 15px;
    }
}

@media screen and (max-width: 575px) {
    
    .contact-checkbox-group {

        height: 30px;
    }

    .contact-checkbox {

        font-size: 10px;
    }
}