@import 'bootstrap/scss/bootstrap';


$primary-color: #3c79b0;
$secondary-color: #f0f8ff;
body {

  background-color: $secondary-color;
  p,h1,h2,h3,h4,h5,h6,a{
        
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
}