.mainpage-cstmstyle {

    flex-direction: row;
    gap: 10px;
    border: 2px solid black;
}

.sidebar-layoutcstm {

    width: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.main-layoutcstm {

    width: 100%;
    border: 2px solid black;
}

.image_div {

    width: 100px;
    height: 100px;
}