.blockquotewebelieve {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 767px) {
    
    .blockquotewebelieve {

        gap: 15px;
    }
}