.containercstm {

    padding: 150px 50px 30px 50px;
    z-index: 9999;
    background-color: #f0f8ff;
}

.normalcontainercstm {

    padding: 30px 50px;
}

.buttonwithtextcstm {

    background-color: #3c79b0;
    max-width: 160px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    transition: all .7s;
    font-size: 16px;
}

.buttonwithtextcstm:hover {

    box-shadow: inset 0px 100px 0px 0px #2e5f8f;
    color: #ffffff;
}

.buttonwithtextcstmnormal {

    background-color: #ffffff;
    max-width: 160px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    padding: 12px 16px;
    transition: all .7s;
    font-size: 16px;
}

.buttonwithtextcstmnormal:hover {

    box-shadow: inset 0px 100px 0px 0px #3c79b0;
    color: white;
}


@media screen and (max-width: 991px) {
    
    .containercstm {

        padding: 120px 30px 20px 30px;
    }

    .normalcontainercstm {

        padding: 20px 30px;
    }
    
}

@media screen and (max-width: 767px) {
    
    .containercstm {

        padding: 100px 30px 20px 30px;
    }

    .normalcontainercstm {

        padding: 20px 30px;
    }

    .buttonwithtextcstmnormal{

        font-size: 13px;
        padding: 10px;
        min-width: 90px;
        max-width: 130px;
    }

    .buttonwithtextcstm {

        font-size: 13px;
        padding: 10px;
        min-width: 90px;
        max-width: 130px;
    }
}

@media screen and (max-width: 575px) {
    
    .containercstm {

        padding: 85px 15px 15px 15px;
    }

    .normalcontainercstm {

        padding: 15px;
    }

    .buttonwithtextcstmnormal{

        font-size: 10px;
        padding: 8px;
        min-width: 60px;
        max-width: 110px;
    }

    .buttonwithtextcstm {

        font-size: 10px;
        padding: 8px;
        min-width: 60px;
        max-width: 110px;
    }
    
}