.containercstm {

    padding: 150px 50px 30px 50px;
    z-index: 9999;
    background-color: #f0f8ff;
    position: relative;
    overflow: hidden;
}

.normalcontainercstm {

    padding: 30px 50px;
}

.buttonwithtextcstm {

    background-color: #3c79b0;
    max-width: 160px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    transition: all .7s;
    font-size: 16px;
}

.buttonwithtextcstm:hover {

    box-shadow: inset 0px 100px 0px 0px #2e5f8f;
    color: #ffffff;
}

.buttonwithtextcstmnormal {

    background-color: #ffffff;
    max-width: 160px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    padding: 12px 16px;
    transition: all .7s;
    font-size: 16px;
}

.buttonwithtextcstmnormal:hover {

    box-shadow: inset 0px 100px 0px 0px #3c79b0;
    color: white;
}

.mainshorttitlediv {

    padding: 120px 0px 0px 0px;
    background-color: #f0f8ff;
}

.mainshorttitlechilddiv {

    padding: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f0f8ff;
}


.initialandrealtitle {

    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    
}

.dotintialandrealtitle {

    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #3c79b0;
}

.containercstmnew {

    padding: 30px 50px;
    }

.paddingextramaindivclass {

    padding: 30px ;
}

.flexwithiconandtextparentdiv {

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.flexwithiconandtextdivmaindiv {

    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
}

.flexwithicondiv {

    width: 100px;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontawesomeiconflexcstm {

    font-size: 36px;
    color: #3c79b0;
}

.fontawesometextflexcstm {

    text-align: center;
}

.flexwithtexth1divcstm {

    font-size: 22px;
}

@media screen and (max-width: 991px) {
    
    .containercstm {

        padding: 120px 30px 20px 30px;
    }

    .normalcontainercstm {

        padding: 20px 30px;
    }

    .mainshorttitlediv {
    
        padding: 100px 0px 0px 0px;
    }

    .containercstmnew {

        padding: 20px 30px;
    }

    .flexwithiconandtextparentdiv {

        flex-wrap: wrap;
        gap: 20px;
    }

    .flexwithiconandtextdivmaindiv {

        width: calc(50% - 10px);
    }
    
}

@media screen and (max-width: 767px) {
    
    .containercstm {

        padding: 100px 30px 20px 30px;
    }

    .normalcontainercstm {

        padding: 20px 30px;
    }

    .buttonwithtextcstmnormal{

        font-size: 13px;
        padding: 10px;
        min-width: 90px;
        max-width: 130px;
    }

    .buttonwithtextcstm {

        font-size: 13px;
        padding: 10px;
        min-width: 90px;
        max-width: 130px;
    }
    
    .dotintialandrealtitle {

        width: 4px;
        height: 4px;
        border-radius: 5px;
    }

    .mainshorttitlediv {
    
        padding: 80px 0px 0px 0px;
    }

    .mainshorttitlechilddiv {

        padding: 30px;
        gap: 15px;
    }

    .flexwithtexth1divcstm {

        font-size: 18px;
    }

    .fontawesomeiconflexcstm {

        font-size: 26px;
    }

    .flexwithicondiv {

        width: 70px;
        height: 70px;
    }

}

@media screen and (max-width: 575px) {
    
    .containercstm {

        padding: 85px 15px 15px 15px;
    }

    .normalcontainercstm {

        padding: 15px;
    }

    .buttonwithtextcstmnormal{

        font-size: 10px;
        padding: 8px;
        min-width: 60px;
        max-width: 110px;
    }

    .buttonwithtextcstm {

        font-size: 10px;
        padding: 8px;
        min-width: 60px;
        max-width: 110px;
    }

    .mainshorttitlediv {
    
        padding: 70px 0px 0px 0px;
    }

    .mainshorttitlechilddiv {

        padding: 20px;
        gap: 10px;
    }
    .containercstmnew {

        padding: 15px 15px;
    }

    .flexwithtexth1divcstm {

        font-size: 16px;
    }

    .flexwithiconandtextdivmaindiv {

        width: calc(100%);
    }

    .fontawesomeiconflexcstm {

        font-size: 22px;
    }

    .flexwithicondiv {

        width: 55px;
        height: 55px;
    }
}