.containercstm {

    padding: 140px 30px 20px 30px;
    z-index: 9999;
    background-color: #f0f8ff;
    position: relative;
    overflow: hidden;
}

.normalcontainercstm {

    padding: 30px 50px;
}

.buttonwithtextcstm {

    background-color: #3c79b0;
    max-width: 160px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    transition: all .7s;
    font-size: 16px;
}

.buttonwithtextcstm:hover {

    box-shadow: inset 0px 100px 0px 0px #2e5f8f;
    color: #ffffff;
}

.buttonwithtextcstmnormal {

    background-color: #ffffff;
    max-width: 160px;
    min-width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    padding: 12px 16px;
    transition: all .7s;
    font-size: 16px;
}

.buttonwithtextcstmnormal:hover {

    box-shadow: inset 0px 100px 0px 0px #3c79b0;
    color: white;
}

.mainshorttitlediv {

    padding: 120px 0px 0px 0px;
    background-color: #f0f8ff;
}

.mainshorttitlechilddiv {

    padding: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #f0f8ff;
}


.initialandrealtitle {

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    
}

.dotintialandrealtitle {

    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #3c79b0;
}

.containercstmnew {

    padding: 20px 50px;
    background-color: #f0f8ff;
    
    }

.paddingextramaindivclass {

    padding: 30px ;
}

.flexwithiconandtextparentdiv {

    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.flexwithiconandtextdivmaindiv {

    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
}

.flexwithicondiv {

    width: 90px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontawesomeiconflexcstm {

    font-size: 28px;
    color: #3c79b0;
}

.fontawesometextflexcstm {

    text-align: center;
}

.flexwithtexth1divcstm {

    font-size: 20px;
}

.flexwithgapcstm {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flexwithgapcstmrow {

    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.containerwidthcstm {

    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    background-color: #f0f8ff;
    
}

.whatsappbuttoncstm {

    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 9999999;
}

.cstmwhatsapppopup {

    position: fixed;
    width: 360px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    
    bottom: 116px;
    right: 40px;
    z-index: 9999999;
    background-color: white;
    animation: fadeinUp 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
}

.cstmwhatsapppopup.closinganimation {

    animation: fadeOutDown  0.7s ease-in-out forwards;
}

.whatsappnameandclosebutton {

    width: 100%;
    height: 80px;
    background-color: #00826A;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0px;
}

.whatsappnameandclosebutton p {

    color: white;
}

.whatsappnamecstm {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.onlineorofflinetag {

    font-size: 12px;
}

.closebuttwhatsapp {

    font-size: 20px;
    cursor: pointer;
    color: white;
}

.whatsappbodydiv {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.whatsapp_bubble {

    max-width: 250px;
    padding: 10px 14px;
    border-radius: 18px 18px 18px 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: sans-serif;
    color: black;
    font-size: 15px;
}

.whatsapp_time {

    font-size: 12px;
    color: gray;
    position: absolute;
    bottom: 6px;
    right: 10px;
}

.chat_whatsapp {

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: #25d467;
    transition: all .7s;
    gap: 10px;
}

.chat_whatsapp:hover {

    background-color: #00826A;
}

.chat_whatsapp a {

    text-decoration: none;
    color: white;
}

.chat_whatsapp svg {

    width: 25px;
    height: 25px;
}

.whatsappbuttoncstm svg {

    width: 60px;
    height: 60px;
}

.popupdivparent {

    width: 1000px;
    background-color: white ;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popupdivchild {

    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;

}

.popupcloseicon {

    font-size: 26px;    
    cursor: pointer;
}

@media screen and (max-width:1399px) {
    
    .containerwidthcstm{
        
        max-width: 1100px;
    }

    .popupdivparent {

        width: 899px;
    }
}

@media screen and (max-width: 1199px) {
    
    .containerwidthcstm{
        
        max-width: 999px;
    }

    .popupdivparent {

        width: 799px;
    }
}

@media screen and (max-width: 1099px) {
    
    .containerwidthcstm{
        
        max-width: 899px;
    }
    
}

@media screen and (max-width: 991px) {
    
    .containercstm {

        padding: 120px 30px 20px 30px;
    }

    .normalcontainercstm {

        padding: 20px 30px;
    }

    .mainshorttitlediv {
    
        padding: 100px 0px 0px 0px;
    }

    .containercstmnew {

        padding: 20px 30px;
    }

    .flexwithiconandtextparentdiv {

        flex-wrap: wrap;
        gap: 20px;
    }

    .flexwithiconandtextdivmaindiv {

        width: calc(50% - 10px);
    }

    .containerwidthcstm{
        
        max-width: 100%;
    }
    
    .flexwithicondiv  {

        width: 65px;
        height: 65px;
    }

    .fontawesomeiconflexcstm {

        font-size: 24px;
    }

    .popupdivparent {

        width: 80%;
    }
    
}

@media screen and (max-width: 767px) {
    
    .containercstm {

        padding: 95px 30px 15px 30px;
    }

    .normalcontainercstm {

        padding: 20px 30px;
    }

    .buttonwithtextcstmnormal{

        font-size: 13px;
        padding: 10px;
        min-width: 90px;
        max-width: 130px;
    }

    .buttonwithtextcstm {

        font-size: 13px;
        padding: 10px;
        min-width: 90px;
        max-width: 130px;
    }
    
    .dotintialandrealtitle {

        width: 4px;
        height: 4px;
        border-radius: 5px;
    }

    .mainshorttitlediv {
    
        padding: 80px 0px 0px 0px;
    }

    .mainshorttitlechilddiv {

        padding: 30px;
        gap: 15px;
    }

    .flexwithtexth1divcstm {

        font-size: 16px;
    }

    .fontawesomeiconflexcstm {

        font-size: 20px;
    }


    .flexwithgapcstm {

        gap: 15px;
    }

    .flexwithgapcstmrow {

        gap: 15px;
    }

    .containerwidthcstm {

        gap: 15px;
    }

    .containercstmnew {

        padding: 15px 30px;
    }

    .onlineorofflinetag {

        font-size: 11px;
    }

    .closebuttwhatsapp {

        font-size: 16px;
    }
    
    .whatsapp_bubble {

        font-size: 13px;
    }
    
    .whatsapp_time {

        font-size: 11px;
    }

    .chat_whatsapp a {

        font-size: 14px;
    }

    .chat_whatsapp svg {

        width: 20px;
        height: 20px;
    }

    .initialandrealtitle {
    
        gap: 10px;
    }

    .popupcloseicon {

        font-size: 22px;    
    }  
    
    .popupdivparent {

        width: 90%;
        padding: 15px;
        gap: 15px;
    }

    .popupdivchild {

        padding: 15px;
    }

}

@media screen and (max-width: 575px) {
    
    .containercstm {

        padding: 85px 15px 15px 15px;
    }

    .normalcontainercstm {

        padding: 15px;
    }

    .buttonwithtextcstmnormal{

        font-size: 10px;
        padding: 8px;
        min-width: 60px;
        max-width: 110px;
    }

    .buttonwithtextcstm {

        font-size: 10px;
        padding: 8px;
        min-width: 60px;
        max-width: 110px;
    }

    .mainshorttitlediv {
    
        padding: 70px 0px 0px 0px;
    }

    .mainshorttitlechilddiv {

        padding: 20px;
        gap: 15px;
    }


    .flexwithtexth1divcstm {

        font-size: 14px;
    }

    .flexwithiconandtextdivmaindiv {

        width: calc(100%);
    }

    .fontawesomeiconflexcstm {

        font-size: 16px;
    }

    .flexwithicondiv {

        width: 55px;
        height: 55px;
    }

    .containercstmnew {

        padding: 15px;
    }

    .onlineorofflinetag {

        font-size: 9px;
    }

    .closebuttwhatsapp {

        font-size: 14px;
    }

    .chat_whatsapp svg {

        width: 15px;
        height: 15px;
    }

    .whatsappbuttoncstm svg {

        width: 40px;
        height: 40px;
    }

    .cstmwhatsapppopup  {

        width: 260px;
    }

    .whatsappbuttoncstm {

        right: 20px;
    }

    .cstmwhatsapppopup {

        right: 20px;
        bottom: 94px;
    }

    .whatsapp_bubble {

        font-size: 11px;
    }

    .whatsapp_time {
        
        font-size: 10px;
    }

    .chat_whatsapp a {

        font-size: 10px;
    }

    .chat_whatsapp {

        height: 35px;
    }

    .popupcloseicon {

        font-size: 16px;    
    }

    .popupdivparent{

        width: 94%;
    }
}