.aboutfirstdiv {

    width: 100%;
    height: 600px;
    position: relative;
}

.aboutfirstdiv img{

    width: 100%;
    object-fit: cover;
    height: 100%;
    
}

.aboutfirsttextdiv {

    position: absolute;
    width: 600px;
    top: 70px;
    right: 100px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #f0f8ff;
    opacity: 1;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.aboutfirsttextdiv div p {

    text-align: justify;
}

.aboutseconddiv {

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flexprimarycolorcstmbackground {
    color: #3c79b0;
}

.flexprimarycolorcstmbackground p {

    color: #3c79b0;
}

.cstmaboutpaddingtop0px {
    
    padding-top: 0px;
}



@media screen and (max-width: 767px) {
    
    .aboutfirsttextdiv {

        width: 460px;
        right: 50px;
    }

    .aboutseconddiv {

        gap: 10px;
    }

    .csmtflexwrapstyle{

        flex-wrap: wrap;
    }
    
    .cstmaboutpaddingtop0px {

        padding-top: 0px;
    }
}

@media screen and (max-width: 575px) {
    
    .aboutfirsttextdiv {

        padding: 20px;
        gap: 15px;
        width: 94%;
        left: 3%;
    }

    .aboutfirstdiv{

        height: 510px;
    }
    .cstmaboutpaddingtop0px {

        padding-top: 0px;
    }
}
@media screen and (max-width: 426px) {
    
    .aboutfirstdiv {

        height: 540px;
    }
    
}

@media screen and (max-width: 400px) {
    
    .aboutfirstdiv {
        
        height: 580px;
    }
}


@media screen and (max-width: 350px) {
    .aboutfirstdiv {

        height: 620px;
    }
}
