/*
    primary color : #3c79b0 
    secondary color : #f0f8ff
*/

body {

        background-color: #f0f8ff;

}

* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-wrapper {

    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 20px;
}

.sidebar-cstm {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f8ff;
    width: 300px;
    border-radius: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.Logo-imgclass {

    width: 246px;
    height: 100px;
    object-fit: contain;
}

.line-cstm {

    width: 100%;
    border: none;
    height: 1px;
    background-color: #3c79b0;
    margin: 0px;
}

.sidebaratag {

    display: flex;
    gap: 20px;
    padding: 14px;
    border-radius: 5px;
    color: #3c79b0;
    text-decoration: none;
    transition: all .7s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: 200px;
    max-width: 260px;
    align-items: center;
    padding-left: 45px;
    box-sizing: border-box;
    border: 1px solid #3c79b0;
}

.icontagcstm{

    font-size: 16px;
}

.sidebartexttag {

    font-size: 16px;
}


.sidebaratag:hover {

    background-color: #3c79b0;
    color: white;

}

.sidebarh1tag {

    color: #3c79b0;
    font-size: 20px;
    margin: 0px;
}

.main-cstm {

    width: calc(100% - 300px);
    align-items: end;
    margin-left: 300px;
}

.header_div {

    width: 100%;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
}

.pages_div {

    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 16px;
}

.profile_div {

    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
    align-items: center;
}

.content-div {

    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;

}

.table-scroll-wrapper {

    max-width: 100%;
    overflow-x: auto;
}

.table-cstm {

    width: 100%;
    border-collapse: collapse;
    min-width: 1000px;
    white-space: nowrap;
}

.table-cstm th, .table-cstm td{

    padding: 10px 16px;
    border: 1px solid #ccc;
    text-align: left;
}

.headingh1tag {

    font-size: 26px;
    margin: 0px;
}

.fa-bars {

    display: none;
}

.outlaymainddiv {

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

.sidebarrespdiv {

    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    background-color: #f0f8ff;
    display: none;
}

.tdtableevent {

    display: flex;
    justify-content: space-evenly;
}

.activesidebaratag {

    background-color: #3c79b0 !important;
    color: white !important;
}

.table-cstm th{

    text-align: center;
}

.paratexttable {

    font-size: 16px;
}

.viewmorediv {

    width: 100%;
    display: flex;
    justify-content: center;
}

.viewmorebutt {

    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;
    background-color: transparent;
    color: #3c79b0;
    border: 1px solid #3c79b0;
    font-size: 16px;
    transition: all .7s;
}

.viewmorebutt:hover {

    background-color: #3c79b0;
    color: white;
}

.eventsdiv {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addeditoverlay {

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.editaddmodal {

    width: 500px;
    background-color: #f0f8ff;
    z-index: 9999;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.editaddmodalheader {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.formmodalcstm {

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.labelcstm {

    font-size: 16px;
}

.inputcstmclass {

    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 15px;
    height: 40px;
}

@media screen and (max-width: 1199px) {
    
    .sidebar-cstm {

        width: 250px;
    }

    .Logo-imgclass {

        width: 190px;
        height: 90px;
    }

    .sidebarh1tag {

        font-size: 18px;
    }

    .sidebaratag {

        min-width: 180px;
        max-width: 200px;
        padding-left: 35px;
    }
    
    .sidebartexttag {

        font-size: 14px;
    }

    .icontagcstm  {

        font-size: 14px;
    }

    .main-cstm {

        width: calc(100% - 250px);
        margin-left: 250px;
    }

    .pages_div {

        font-size: 14px;
    }

    .profile_div {

        font-size: 14px;
    }

    .headingh1tag {

        font-size: 24px;
    }
    

    .table-cstm th, .table-cstm td{ 

        font-size: 14px;
    }

    .labelcstm {

        font-size: 14px;
    }

    .inputcstmclass {

        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-cstm {

        display: none;
    }

    .main-cstm {

        width: 100%;
        margin: 0px;
    }

    .fa-bars {

        display: block;
    }

    .sidebarrespdiv {

        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px;
        align-items: center;
        display: none;
    }

    
    .sidebarhearder {

        width: 100%;
        display: flex;
        justify-content: end;
    }

}

@media screen and (max-width: 767px) {
    
    .table-cstm th, .table-cstm td{ 

        font-size: 12px;
    }

    .headingh1tag {

        font-size: 20px;
    }

    .header_div {

        height: 80px;
    }

    .icontagcstm {

        font-size: 12px;
    }

    .sidebarh1tag {

        font-size: 16px;
    }

    .sidebartexttag {

        font-size: 12px;
    }

    .sidebarrespdiv  {

        width: 230px;
    }

    .Logo-imgclass {

        width: 180px;
        height: 70px;
    }
    
    .sidebaratag  {

        min-width: 170px;
        max-width: 200px;
        padding-left: 36px;
    }

    .btncstmtag {

        font-size: 12px;
    }

    .paratexttable {

        font-size: 12px;
    }

    .viewmorebutt{

        font-size: 12px;
        padding: 8px 10px;
    }

    .labelcstm {

        font-size: 12px;
    }

    .inputcstmclass {

        height: 35px;
        font-size: 12px;

    }

}

@media screen and (max-width: 575px) {
    
    .table-cstm th, .table-cstm td{

        font-size: 10px;
    }

    .headingh1tag {

        font-size: 16px;
    }

    .content-div{

        padding: 15px;
    }

    .header_div {

        padding: 0px 15px;
        height: 70px;
    }

    .profile_div,.icontagcstm,.pages_div {

        font-size: 10px;
    }

    .sidebarrespdiv {

        width: 200px;
    }

    .Logo-imgclass {

        width: 160px;
        height: 70px;
    }

    .sidebarh1tag {

        font-size: 14px;
    }

    .sidebaratag {

        min-width: 150px;
        padding-left: 28px;
    }

    .sidebartexttag {

        font-size: 10px;
    }

     .btncstmtag {

        font-size: 10px;
    }

    .paratexttable {

        font-size: 10px;
    }

    .sidebarrespdiv  {

        gap: 15px;
    }

    .viewmorebutt{

        font-size: 10px;
        padding: 6px 8px;
    }

    .labelcstm {

        font-size: 10px;
    }

    .inputcstmclass {

        height: 30px;
        font-size: 10px;
        padding: 10px;
    }

    .editaddmodalheader,.formmodalcstm {
    
        gap: 15px;
    }
}
