.inputformptag{

    color: #4E4E4E;
    font-size: 16px;
}

.react-tel-input .form-control{

    height: 40px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: #8b8b8b;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
}

.react-tel-input .form-control::placeholder {

    color: #8b8b8b;
}

.react-tel-input .selected-flag {

    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    outline: none;
    background-color: #f0f8ff !important;
}

.react-tel-input {
  background-color: #f0f8ff;
}

.react-tel-input .flag-dropdown {
  background-color: #f0f8ff; 
  border: none !important;    
  outline: none !important;  
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
  border-radius: 5px !important;
}

.country-list  {

    background-color: #f0f8ff !important;
}

.phoneinputformcstm {

    background-color: transparent !important;
    color: #4e4e4e !important;
}

.phoneinputformcstm:hover, .phoneinputformcstm:focus {

    border: none !important;
    outline: none !important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
}

.phoneinputformcstm::placeholder {

    color: #8b8b8b !important;
}

.react-datepicker-wrapper {

    width: 100%;
}

.stardiv {

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3px;
}

.starcstm {

    color: red;
    font-size: 14px;
    line-height: 0;
}


@media screen and (max-width: 767px) {
    
    .inputformptag {

        font-size: 14px;
    }

    .react-tel-input .form-control{

        font-size: 12px;
        height: 36px;
    }
    
    .country-list {

        font-size: 12px !important;
    }

    .starcstm {

        font-size: 12px;
    }
}

@media screen and (max-width: 575px) {
    
    .inputformptag {

        font-size: 12px;
    }

    .react-tel-input .form-control{

        font-size: 10px;
        height: 34px;
    }

    .country-list {

        max-height: 150px !important;
        font-size: 10px !important; 
    }

    .starcstm {

        font-size: 10px;
    }
}

@media screen and (max-width: 426px) {
    

    .react-tel-input .country-list {
    
        width: 280px !important;
    }
}